html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.record_panel:hover {
    border-left: 2px solid #eed3d7;
    border-top: 2px solid #eed3d7;
    border-right: 1px solid #eed3d7;
    border-bottom: 1px solid #eed3d7;
    /*border: #C1C1BD solid 2px;*/
    line-height: 26px;
    font-size: 18px;
    padding: 2px 6px;
    margin: 3px 3px;
}

.record_panel {
    border-left: 1px solid #eed3d7;
    border-top: 1px solid #eed3d7;
    border-right: 2px solid #eed3d7;
    border-bottom: 2px solid #eed3d7;
    border-radius: 5px;
    /*border: #C1C1BD solid 2px;*/
    line-height: 26px;
    font-size: 18px;
    padding: 2px 6px;
    margin: 3px 3px;
    overflow:hidden;
}

#sider {
    padding: 10px 10px 10px 18px;
    background-color: #fafafa;
    display: none;
    z-index:4;
    position:fixed;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 25px;
}

#sider:hover {
    box-shadow: inset 0px 0px 6px red;
}

#shadow {
    display: none;
    background-color: black;
    opacity: 0.6;
    width:100%;
    height:100%;
    z-index:5;
    position:fixed;
}

#panel {
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: none;
    z-index:6;
    position:fixed;
    border-radius: 5px;
    max-height: 60%;
    _height: 60%;
    overflow: auto;
}

#panel button{
    margin-right: 10px;   
}

#panel pre{
    margin-top: 30px;
    background-color: #fafafa;
    white-space: pre-wrap;
    word-wrap: break-word;
    font: Microsoft Yahei,ו;
    font-size: 16px;
    line-height: 30px;
}

.bar {
    font-family: Microsoft YaHei,ו;
    width: 100%;
    font-size: 14px;
    border: #0000A0 solid 1px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.bar a {
    text-decoration: none;
}

.bar div {
    line-height: 48px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #FFFFDB;
    border-radius: 2px;
    margin-top: 1px;
}
.bar_pa {
    
}

.bar_pa:hover {
    background-color: #DDFFDD;
}

.bar_son {
    background-color: #DBDBDB;
    color: #555;
}

.bar_son:hover {
    background-color: #9B9B9B;
}

.bar_son:active {
    background-color: #337ab7;
    border: 1px solid silver;
    color: white;
}

.new_place {
    color: red;
    width: inherit;
}

.stable {
    width: 100%;
    
}

.stable td {
    width: 20%;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.stable th{
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}